<footer class="row expanded">
	<div class="large-4 columns">
		{{ site.title | escape }}
		<br>
		{% if site.email %}
            <a href="mailto:{{ site.email }}">{{ site.email }}</a>
        {% endif %}
	</div>

	<div class="large-4 columns">
		{% if site.github_username %}
			<li>
				<span class="typcn typcn-social-github"></span>
				<a href="https://github.com/{{ site.github_username | escape }}">{{ site.github_username | escape }}</a>
			</li>
		{% endif %}

		{% if site.twitter_username %}
			<li>
				<span class="typcn typcn-social-twitter"></span>
				<a href="https://twitter.com/{{ site.twitter_username | escape }}">{{ site.twitter_username | escape }}</a>
			</li>
		{% endif %}

		{% if site.facebook_username %}
			<li>
				<span class="typcn typcn-social-facebook"></span>
				<a href="https://facebook.com/{{ site.facebook_username | escape }}">{{ site.facebook_username | escape }}</a>
			</li>
		{% endif %}
	</div>

	<div class="large-4 columns">
		<p>{{ site.description | escape }}</p>
	</div>
</footer>
